# AWS
AWS_REGION=<AWS_REGION>
AWS_ACCOUNT_ID=<AWS_ACCOUNT_ID>

# S3
S3_BUCKET_BRONZE=<BRONZE_BUCKET>
S3_BUCKET_SILVER=<SILVER_BUCKET>
S3_BUCKET_GOLD=<GOLD_BUCKET>
ATHENA_S3_OUTPUT=s3://<ATHENA_RESULTS_BUCKET>/

# Glue
GLUE_DB_BRONZE=<BRONZE_GLUE_DATABASE>
GLUE_DB_SILVER=<SILVER_GLUE_DATABASE>
GLUE_DB_GOLD=<GOLD_GLUE_DATABASE>
GLUE_TABLE_REFERENCE=clean_reference_data
GLUE_TABLE_STATISTICS=clean_statistics

# YouTube / SNS
YOUTUBE_API_KEY=<YOUR_YOUTUBE_API_KEY>
YOUTUBE_REGIONS=US,GB,CA,DE,FR,IN,JP,KR,MX,RU
SNS_ALERT_TOPIC_ARN=arn:aws:sns:<AWS_REGION>:<AWS_ACCOUNT_ID>:<SNS_TOPIC_NAME>

# DQ
DQ_MIN_ROW_COUNT=10
DQ_MAX_NULL_PERCENT=5.0
